*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #4682B4;
    z-index: 2;
}
.formContato, .imagem{
    width: 50%;
    padding: 10px;
}
.imagem > .form_imagem{
    background-image: url(img/contato.png);
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin-top: 90px;
}

.formContato img{
    width: 50px;
}
.logo{
    justify-content: center;
}
.buttons{
    justify-content: space-between;
}

.logo, .buttons{
    display: flex;
    align-items: center;
}
h1{
    font-size: 30px;
    color: #1E90FF;
}
label{
    display: block;
}
input{
    padding: 0 10px;
    font-size: 15px;
    height: 40px;
    width: 100%;
    outline: none;
}
textarea{
    padding: 10px;
    width: 100%;
    outline: none;
    resize: none;
    height: 210px;
}
a{
    text-decoration: none;
    color: #1E90FF;
    padding: 6px 12px;
    width: 150px;
}
.btnClass{
    background-color:#1E90FF;
    width: 150px;
    border: 1px solid #1E90FF;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
}
ul{
    display: block;
}
ul li{
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: #e74c3c;
    color: #fff;
    height: 30px;
    font-size: 20px;
    font-weight: 800;
    margin: 2px 0 ;
    border-radius: 7px;
}