*{
margin:0;
font-family: 'Poppins',sans-serif;
}

body
{
display:flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: aliceblue;
}

header #texto{
  top: -80px;
  position: relative;
  height: 350px;
  right: -179% ;
}
header #logo{
  position: relative;
  height: 100px;
  right: -150% ;
  top: -452px;
  
  } 
  /* body .header{
    height: 50px;
     width: 100%;
     background-color: #4682B4	;
       } */
  .container .card .content
  h4 a{

text-decoration: none;
color: rgb(109, 100, 237);
left:-10%;
  }

.container
{
position: relative;
width:1000px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap:wrap;
left:-10%;
top: 30px;

}
.container .card
{
position: relative;
max-width: 450px;
background:#FBFCFC;
margin: 10px;
padding: 15px;
display: flex;

}
.container .card .imgBx
{
  max-width:150px ;  
  flex: 0 0 150px;
}

.container .card .imgBx img
{
  max-width:100%;  
}

.container .card .content
{
margin-left: 20px;
}



